html,
[data-theme=light] {
	/* ------------- General Variables ------------ */
	--black: #060609;
	--white: #f2f4f7;
	--green: #2ECC40;
	--blue: #0074D8;
	--red: #FF4132;
	--orange: #FF851A;
	--yellow: #ffcd36;
	--primary: var(--blue);
	--cl: #14191f;
	--cl2: var(--white);
	--bg: #f2f4f7;
	--bg2: #dde2ea;
	--bg3: #cfd6e1;
	--brd: #C4CDD5;
	--radius: .3rem;
	/* -------------- Background NTP -------------- */
	--bg-cw: 0px;
	--bg-ch: 0px;
	--bg-img: #13181d;
	--bg-cl: #13181d;
	/* ---------------- Grid Layout --------------- */
	--grid-wrap: wrap;
	--grid-width: 33.33%;
	/* ------------------ Buttons ----------------- */
	--bg-btn: var(--primary);
	--bg-btn-hover: inset 0 0 100px 100px #ffffff20;
	--txt-btn: var(--white);
	--brd-btn: var(--primary);
	/* ------------------- Tabs ------------------- */
	--bg-tabs: var(--bg);
	--brd-tabs-l: var(--primary);
	--brd-tabs: var(--bg2);
	--bg-input: var(--bg2);
	--brd-input: var(--bg2);
	/* ------------------ Details ----------------- */
	--bg-details: var(--bg2);
  	--bg-details-open: var(--bg3);
	/* -------------- Weather Widget -------------- */
	/* Weather visibility */
	--wt: none;
	/*  Weather Background       */
	--c0: #292e39;
	/*  Text and  Icons color    */
	--c1: #ffffff;
	/*  City Label Background    */
	--c2: #00000094;
	/*  City Label Text          */
	--c3: #dddddd;
	/* ------------------ Toolbar ----------------- */
	/*Toolbar Background */
	--c4: #292e39;
	/*Toolbar Icon */
	--c5: #CCC;
	/* Toolbar Text */
	--c6: #666;

	/* ---------------- Search Bar ---------------- */
	/* Search Bar Background */
	--c7: #292e39;
	/* Search Bar Text */
	--c8: #CCC;
	/* Search Bar border hover */
	--c9: #116ad8;

	/* ----------------- Bookmarks ---------------- */
	/* Bookmarks Folder background */
	--c10: #292e39;
	/* Bookmarks Title Color*/
	--c11: #CCC;
	/* Bookmarks Link Background */
	--c12: #3B4252;
	/* Bookmarks Link Text Color*/
	--c13: #CCC;
	/* Bookmark link hover background */
	--c14: #111213;
	/* Bookmark link hover text */
	--c15: #116ad8;
}

[data-theme=dark] {
	--black: #060609;
	--white: #f2f4f7;
	--blue: #4dacff;
	--green: #67e5a8;
	--red: #ff564d;
	--orange: #ff9f4d;
	--yellow: #ffd24d;
	--cl: #f2f4f7;
	--cl2: #14191f;
	--bg3: #2c3844;
	--bg2: #242e37;
	--bg: #14191f;
	--bg-nav: var(--bg);
	--bg-nav-hover: var(--bg2);
	--bg-btn: var(--primary);
	--bg-btn-hover: inset 0 0 100px 100px #00000033;
	--brd-btn: var(--primary);
	--txt-btn: var(--black);
	--bg-card: var(--bg3);
	--bg-details: var(--bg2);
	--bg-details2: var(--bg3);
	--shadow: none;
}

[data-theme=light] .light-icon,
[data-theme=dark] .dark-icon {
	display: block !important;
}

.theme-icon {
	display: none !important;
}

/* ---------------- Scrollbars ---------------- */

::-webkit-scrollbar {
	width: 12px;
	background: var(--c10);
}

::-webkit-scrollbar-track {
	-webkit-border-radius: 10px;
	background: var(--c10);
	border-radius: var(--radius);
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: var(--radius);
	background: var(--c12);
}

.mdl_c::-webkit-scrollbar {
	margin-left: 10px;
	background: transparent;
}

.mdl_c::-webkit-scrollbar-track,
#links::-webkit-scrollbar,
.modal-main>div::-webkit-scrollbar,
.modal-main>div::-webkit-scrollbar-track,
#links::-webkit-scrollbar-track,
.tabs>div::-webkit-scrollbar,
.tabs>div::-webkit-scrollbar-track {
	background: transparent;
}

#links::-webkit-scrollbar-thumb {
	background: var(--c10) !important;
}

#links::-webkit-scrollbar {
	height: 10px;
}

#links::-webkit-scrollbar-thumb {
	background: var(--c13);
}

.mdl_c::-webkit-scrollbar-thumb {
	background: var(--c12);
}

/* ---------------- Basic reset --------------- */

*,
*:after,
*:before {
	box-sizing: border-box;
	border-spacing: 0;
}

html {
	background: var(--c4);
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	width: 100vw;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 13pt;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
	background-image: var(--bg-img);
	background-color: var(--bg-cl);
	background-attachment: fixed !important;
	-webkit-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;
	overflow-x: hidden;
	user-select: none;
	line-height: 1.5;
}

html,
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}


hr {
	border: 0;
	border-top: 2px solid var(--brd);
}


/* -------------- Main container -------------- */

main {
	margin: auto;
	width: 100%;
	max-width: 50rem;
	padding: 4rem 0.5rem 0rem;
	overflow-x: hidden;
}

/* ------------ Animation On Scroll ----------- */

[class*=_aos],
._aos {
	opacity: 0;
	transition: opacity 1s, transform 1.3s;
}

._aos-right {
	transform: translate3d(100px, 0px, 0px);
}

._aos-top {
	transform: translate3d(0px, -100px, 0px);
}

._a_completed {
	opacity: 1;
	transform: translate3d(0px, 0px, 0px);
}


/* ----------- Grid columns and row ----------- */
.grid {
	flex-wrap: wrap;
}

.row,
.grid {
	display: flex;
	align-items: stretch;
	margin: 1rem 0 0 0;
}

.row>[class*=col],
.row>div,
.grid>[class*=col],
.grid>div {
	flex: 0 0 auto;
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding: 0.5rem;
}

.row>[class*=col]>*,
.row>div>*,
.grid>[class*=col]>*,
.grid>div>* {
	margin: 0;
}

.row .col,
.row>div,
.grid .col,
.grid>div {
	flex: 1 1 100%;
}

.row .col-2,
.grid .col-2 {
	width: calc((100%) / (12/2));
}

.row .col-3,
.grid .col-3 {
	width: calc((100%) / (12/3));
}

.row .col-4,
.grid .col-4 {
	width: calc((100%) / (12/4));
}

.row .col-6,
.grid .col-6 {
	width: calc((100%) / (12/6));
}

.row .col-8,
.grid .col-8 {
	width: calc((100%) / (12/8));
}

.row .col-9,
.grid .col-9 {
	width: calc((100%) / (12/9));
}

.row .col-10,
.grid .col-10 {
	width: calc((100%) / (12/10));
}

@media (max-width: 40em) {

	.row:not(.keep-width),
	.grid:not(.keep-width) {
		flex-direction: column !important;
	}

	.row:not(.keep-width)>[class*=col],
	.row:not(.keep-width)>div,
	.grid:not(.keep-width)>[class*=col],
	.grid:not(.keep-width)>div {
		width: auto;
	}
}

/* ---------- Toolbar and Search Bar ---------- */
#toolbar,
#sb_input {
	border: none;
	border-radius: var(--radius);
	width: calc(100% - 10px);
}
#sb_input:hover{
	border-color: var(--c9);
}

#toolbar>label>svg {
	height: 27px;
	float: right;
	margin-left: 10px;
	fill: var(--c5);
}

#toolbar {
	background-color: var(--c4);
	margin: auto;
	max-width: 600px;
	padding: 7px;
	line-height: 30px;
	text-align: right;
	font-size: 18px;
	height: 40px;
}

span#clock {
	margin-right: 15px;
}

div#toolbar>span:first-of-type {
	color: var(--c6);
	float: left;
}

div#toolbar>a {
	text-decoration: none;
	color: var(--c6);
}

div#toolbar>a:hover {
	color: white;
}

div#toolbar>a+a {
	margin-left: 15px;
}

#sb_input {
	background-color: var(--c7);
	margin: auto;
	margin-top: 10px;
	max-width: 600px;
	color: var(--c8);
	padding: 10px;
	font-size: 32px;
	height: 50px;
}

#sb_input:hover {
	border-color: var(--c9) !important;
}

/* ------------------ Details ----------------- */
details {
	width: 100%;
	overflow-x: hidden;
	display: flex;
	flex-flow: wrap column;
	border-radius: var(--radius);
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
	transition: height 0.3s ease-in-out;
	background: var(--bg-details);
  }
  details > summary {
	outline-color: initial;
	padding: 0.6rem;
	border-radius: var(--radius);
	outline: 0;
	cursor: pointer;
	font-weight: 500;
	transition: background-color 0.4s ease-in-out;
  }
  details > summary:hover {
	color: var(--primary);
	background-color: var(--bg-details);
  }
  details > div {
	padding: 0.5rem;
  }
  
  details[open] summary {
	background-color: var(--bg-details-open) !important;
  }
  details[open] > summary:hover {
	color: var(--primary);
	background-color: var(--bg-details);
  }
  
  details + details {
	margin-top: 0.5rem;
  }
/* ----------------- Bookmarks ---------------- */
@keyframes expand {
	from {
		transform: scale(0.1);
		opacity: 0;
	}
}

div#links {
	display: -webkit-box;
	display: flex;
	flex-wrap: var(--grid-wrap);
	overflow-x: auto;
	max-width: 900px;
	margin: auto;
	margin-top: 30px;
	padding-bottom: 20px;
	font-size: 16px;
	border-radius: var(--radius);
	animation: expand 1.3s;
}

div#links>div.section>.title {
	margin: 0;
	padding: 8px;
}

div#links>div.section {
	background-color: var(--c10);
	-webkit-box-flex: 0;
	position: relative;
	flex: 0 0 auto;
	margin-top: 10px;
	margin-left: 10px;
	width: calc(var(--grid-width) - 10px);
	border-radius: var(--radius);
	overflow: hidden;
	color: var(--c11);
}

@media screen and (max-width: 480px) {
	div#links>div.section {
		margin: 10px;
		width: calc(100% - 20px);
	}
}

div#links>div.section>div {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 50vh;
	margin-bottom: 10px;
	padding: 15px;
	background-color: transparent;
}

div#links>div.section>div>a {
	text-decoration: none;
	padding: 10px;
	border-radius: var(--radius);
	background-color: var(--c12);
	color: var(--c13);
	overflow-wrap: break-word;
	display: block;
}

div#links>div.section>div>a:hover,
div#links>div.section>div>a.selected {
	background-color: var(--c14);
	color: var(--c15);
	transition: all .1s ease-in;
}

div#links>div.section>div>a+a {
	margin-top: 5px;
}
div#links a {
	border:none!important;
}

/* -------------- Weather Widget -------------- */
#wt_status:checked~.grid {
	opacity: .3;
}

.wth {
	border-radius: var(--radius);
	display: var(--wt);
	margin: auto;
	margin-top: 10px;
	max-width: 600px;
	border-radius: 8px;
	overflow: hidden;
	width: 100%;
	height: 120px;
	position: relative;
	background: var(--c0);
}

#wth_s {
	position: relative;
	text-align: center;
	color: #fff;
	width: 100%;
	line-height: 32px !important;
	background: #00000094;
	border-radius: 8px;
	opacity: 0;
	transition: all 1.5s ease-in;
}

#wth_top {
	position: relative;
	margin: auto;
	color: var(--c1);
	width: 100%;
	max-width: 400px;
	padding-top: 10px;
	height: 80px;
	opacity: 0;
	transition: all 1.5s ease-in;
}

#wth_i,
#wth_t,
#wth_d {
	float: left;
	width: 33%;
	height: 50px;
}

#wth_i svg {
	height: 50px;
	width: 50px;
}

#wth_d {
	text-align: right;
}

#wth_d1 {
	text-align: center;
}

#wth_t {
	text-align: center;
	font-size: 40px;
	line-height: 40px !important;
}

#wth_l {
	position: absolute;
	width: 100%;
	text-align: center;
	display: block;
	height: 25px;
	top: 50%;
	font-weight: 600;
	margin-top: -12.5px;
}

#wth_btm {
	font-weight: 600;
	opacity: 0;
	width: 100%;
	margin-top: 10px;
	text-align: center;
	bottom: 0;
	border-radius: 8px;
	color: var(--c3);
	transition: all 1.5s ease-in;
}

#wth_c {
	background: var(--c2);
	padding: .5rem;
	line-height: 10px;
}

#wth_h svg {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
}

@media (min-width : 80rem) {
	.wth {
		position: absolute;
		top: 1rem;
		margin-left: 50.5rem;
		max-width: 12rem;
		padding: .4rem;
	}

	.wth,
	#wth_top {
		height: auto;
	}

	#wth_i,
	#wth_t,
	#wth_d {
		text-align: center;
		float: none;
		width: 100%;
		height: auto;
	}
}


/* ------------ Background Cropper ------------ */

#bg_crop .block,
#bg_crop .preview {
	background-image: var(--bg-img);
	background-color: var(--bg-cl);
	width: var(--bg-cw);
	height: var(--bg-ch);
	position: relative;
	background-size: cover;
	box-sizing: content-box;
	border-radius: var(--radius);

	margin: auto;
	margin-bottom: 30px;
}

#bg_crop .block .stage {
	width: var(--bg-cw);
	position: relative;
}

#bg_crop {
	width: 100%;
}

#bg_crop input[type="file"],
#restore_btn,
#crop,
#result {
	display: none;
}

#crop .cr-boundary {
	position: relative;
	overflow: hidden;
	margin-top: 1rem;
	z-index: 1;
}

#crop .cr-boundary .cr-image {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	z-index: -1;
	max-width: none;
}

#crop .cr-boundary .cr-viewport {
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	box-shadow: 0 0 0 900px #d9d9d9;
	z-index: 0;
}

#crop .cr-boundary .cr-overlay {
	position: absolute;
	z-index: 2;
	cursor: move;
}

#crop .cr-slider-wrap {
	width: 100%;
}

#crop .cr-slider-wrap .cr-slider {
	width: 100%;
}

#crop .cr-slider-wrap .cr-slider:hover::-webkit-slider-thumb {
	-webkit-transform: scale(1.25);
	transform: scale(1.25);
}

#crop .cr-slider-wrap .cr-slider:focus {
	outline: none;
}

#result img {
	width: 100%;
	height: 100%;
	display: block;
}

#cl_vn {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 101;
	box-sizing: border-box;
	overflow: auto;
	color: var(--cl);
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
	z-index: 220;
}

.lrt_cnt {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	overflow-y: auto;
	max-height: calc(100% - 100px);
	background-color: var(--bg);
	border-radius: var(--radius);
	padding: .4rem;
}

.lrt_body {
	text-align: justify;
	padding: 2px 16px;
}

.stt_cllb {
	float: left;
	line-height: 35px !important;
	width: calc(100% - 32px);
}

.stt_clfrt {
	display: inline-block;
	position: relative;
	border-radius: 10px;
	border: 3px solid black;
	width: 30px;
	height: 30px;
	background: transparent;
}

body .show-lrt {
	overflow: hidden;
}

.show-lrt {
	opacity: 1 !important;
	visibility: visible !important;
	transform: scale(1.0) !important;
}

/* --------------- Colo Pickers --------------- */
#stt_cl0 {
	background: var(--c0)
}

#stt_cl1 {
	background: var(--c1)
}

#stt_cl2 {
	background: var(--c2)
}

#stt_cl3 {
	background: var(--c3)
}

#stt_cl4 {
	background: var(--c4)
}

#stt_cl5 {
	background: var(--c5)
}

#stt_cl6 {
	background: var(--c6)
}

#stt_cl7 {
	background: var(--c7)
}

#stt_cl8 {
	background: var(--c8)
}

#stt_cl9 {
	background: var(--c9)
}

#stt_cl10 {
	background: var(--c10)
}

#stt_cl11 {
	background: var(--c11)
}

#stt_cl12 {
	background: var(--c12)
}

#stt_cl13 {
	background: var(--c13)
}

#stt_cl14 {
	background: var(--c14)
}

#stt_cl15 {
	background: var(--c15)
}

#stt_cl16 {
	background: var(--c16)
}

/* ------------------- Modal ------------------ */
.modal {
	display: flex;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	background: rgba(0, 0, 0, 0.4);
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	transition: all 0.3s ease-in;
	z-index: -1;
}

.modal>div {
	display: flex;
	flex-direction: column;
	border-radius: 0.3em;
	margin: auto;
	width: 100%;
	max-width: 50rem;
	height: 80%;
	padding-left: .5rem;
	overflow: hidden;
	opacity: 0;
	background: var(--bg);
	color: var(--cl);
	transform: scale(0.9);
	transition: all 0.3s ease-out;
}
.modal-main{
	display: flex;
	flex-direction: column;
	margin-left: 60px;
	height: 100%;
  	transition: margin-left 0.5s;
}
.modal-main>div{
	flex-grow: 1;
	overflow-y: auto;
	padding-right: 10px;
}


.modal-main>footer {
	text-align: end;
	padding: 0;
}

.modal-main>header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.modal-main>header>* {
	margin: 0;
}

.modal._show-modal {
	visibility: visible;
	opacity: 1;
	z-index: 200;
}

.modal._show-modal>div {
	opacity: 1;
	transform: scale(1);
	transition: all 0.2s ease-in;
}

/* ------------------- Tabs ------------------- */
.tabs {
	display: flex;
	flex-wrap: wrap;
	background: transparent;
	box-shadow: var(--shadow);
	border-radius: var(--radius);
	margin-bottom: 0.5rem;
}

.tabs>label {
	order: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: .4rem .7rem;
	margin-right: 0.2rem;
	cursor: pointer;
	border-bottom: 0.2rem solid transparent;
	font-weight: bold;
	transition: background ease 0.2s;
}

.tabs>div {
	width: 100%;
	display: none;
	padding: 1rem;
	order: 99;
	border-radius: 0 0 var(--radius);
	border-top: 2px solid var(--bg2);
	flex-grow: 1;
}

.tabs>div>* {
	margin: 0.4rem;
}

.tabs>input {
	display: none;
}

.tabs>input:checked+label.ghost {
	background: var(--bg-btn) !important;
	color: var(--txt-btn) !important;
	border-color: var(--bg-btn) !important;
}

.tabs>input:checked+label {
	border-color: var(--brd-tabs-l);
}

.tabs>input:checked+label+div {
	display: block;
}
/* --------------- Toast Message -------------- */
.notify-item {
	transition: all 0.3s;
	min-width: 200px;
	max-width: 60rem;
	padding: 0.8rem;
	margin-bottom: 0.3rem;
	display: flex;
	background: var(--primary);
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	-webkit-animation: fade-in 0.3s;
			animation: fade-in 0.3s;
	-webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
			animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
  }
  .notify-item.animate-out {
	-webkit-animation: fade-out 0.3s;
			animation: fade-out 0.3s;
	-webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
			animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
  }
  .notify-item.success {
	background: var(--green);
  }
  .notify-item.error {
	background: var(--red);
  }
  .notify-item.warn {
	background: var(--yellow);
  }
  .notify-item.info {
	background: var(--blue);
  }
  .notify-item span{
	  width: 100%;
  }
  .notify-container {
	position: fixed;
	padding: 0.3rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	z-index: 9999;
  }
  .notify-container._top {
	flex-direction: column-reverse;
  }
  .notify-container._bottom {
	bottom: 0;
  }
  .notify-container._left {
	left: 0;
  }
  .notify-container._right {
	right: 0;
  }
  .notify-container._center {
	left: 50%;
	transform: translateX(-50%);
  }
  
  @-webkit-keyframes fade-out {
	from {
	  opacity: 1;
	  transform: scaleY(1);
	}
	to {
	  opacity: 0;
	  transform: scaleY(0);
	}
  }
  
  @keyframes fade-out {
	from {
	  opacity: 1;
	  transform: scaleY(1);
	}
	to {
	  opacity: 0;
	  transform: scaleY(0);
	}
  }
  @-webkit-keyframes fade-in {
	from {
	  opacity: 0;
	  transform: scaleY(0);
	}
	to {
	  opacity: 1;
	  transform: scaleY(1);
	}
  }
  @keyframes fade-in {
	from {
	  opacity: 0;
	  transform: scaleY(0);
	}
	to {
	  opacity: 1;
	  transform: scaleY(1);
	}
  }

/* ------------------ Buttons ----------------- */
button,
[class^=btn] {
	display: inline-flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	border: 0px;
	color: var(--txt-btn);
	background-color: var(--bg-btn);
	outline: none;
	padding: 0.6rem;
	font-size: inherit;
	cursor: pointer;
	border-radius: var(--radius);
	margin: 0.5rem;
	height: 2.6rem;
	transition: all 0.2s ease-in-out;
	-webkit-tap-highlight-color: transparent;
}

button:focus,
[class^=btn]:focus {
	outline: none;
}

button.mw-100,
[class^=btn].mw-100 {
	min-width: 100px;
}

button[disabled],
[class^=btn][disabled] {
	opacity: 0.5;
	pointer-events: none;
	cursor: not-allowed;
}

button:not([disabled]):hover,
[class^=btn]:not([disabled]):hover {
	box-shadow: var(--bg-btn-hover);
}

button.ghost,
[class^=btn].ghost {
	background: transparent;
	color: var(--bg-btn);
	border: 2px solid var(--bg-btn);
}

button.ghost:hover,
[class^=btn].ghost:hover {
	background: var(--bg-btn);
	color: var(--txt-btn) !important;
	box-shadow: none;
}

button>svg,
[class^=btn]>svg {
	display: block;
	height: 1.3rem;
	width: 1.3rem;
	fill: currentColor;
	max-height: 1.7rem;
}

.btn-transparent {
	--bg-btn: transparent;
	--txt-btn: var(--cl2);
}

.btn-cl2 {
	--bg-btn: var(--cl2);
	--txt-btn: var(--cl);
}

.btn-bg2 {
	--bg-btn: var(--bg2);
	--txt-btn: var(--cl);
}

.btn-black {
	--bg-btn: var(--black);
	--txt-btn: var(--white);
}

.btn-white {
	--bg-btn: var(--white);
	--txt-btn: var(--cl);
}

.btn-blue {
	--bg-btn: var(--blue);
	--txt-btn: var(--cl2);
}

.btn-red {
	--bg-btn: var(--red);
	--txt-btn: var(--cl);
}

.btn-green {
	--bg-btn: var(--green);
	--txt-btn: var(--black);
}

.btn-orange {
	--bg-btn: var(--orange);
	--txt-btn: var(--black);
}

.btn-yellow {
	--bg-btn: var(--yellow);
	--txt-btn: var(--black);
}


/* -------------- Form components ------------- */
.field {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	flex-direction: column;
}

[class^=with-icon] {
	position: relative;
}

[class^=with-icon]>svg {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.with-icon-left>svg {
	left: 1rem;
}

.with-icon-right>svg {
	left: 1rem;
}

.with-icon-left>input {
	padding-left: 3rem !important;
}

.with-icon-right>input {
	padding-right: 3rem !important;
}

input[type=color] {
	-webkit-appearance: none;
	border: none;
	border-radius: var(--radius);
	width: 32px;
	height: 32px;
}

input[type=color]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type=color]::-webkit-color-swatch {
	border: none;
	border-radius: var(--radius);
}
textarea{
	height: 200px;
	min-height: 200px;
}
textarea,
input:not([type=color]):not([type=range]):not([type=radio]):not([type=checkbox]),
select {
	color: var(--cl);
	background: var(--bg-input);
	padding: 0.6rem;
	border-radius: var(--radius);
	width: 100%;
	border: 2px solid var(--brd-input);
	outline: none;
	height: 2.5rem;
}

fieldset {
	margin-top: 1rem;
	border-radius: var(--radius);
	border: 2px solid var(--brd);
}

input:disabled,
textarea:disabled {
	opacity: 0.5 !important;
	background: var(--bg3) !important;
	border: 2px solid var(--bg3) !important;
}

textarea:focus,
input:not([type=checkbox]):not([type=radio]):not([type=color]):not([type=range]):focus,
select:focus,
textarea:hover,
input:not([type=checkbox]):not([type=radio]):not([type=color]):not([type=range]):hover,
select:hover {
	border: 2px solid var(--primary);
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
	input[type=range] {
		-webkit-appearance: none;
		width: 100%;
		height: 0.8rem;
		border-radius: var(--radius);
		border: 2px solid var(--brd);
		background: var(--bg);
		outline: none;
		margin-top: 0.8rem;
	}

	input[type=range]::-webkit-slider-thumb {
		-webkit-appearance: none;
		transition: background 0.15s ease-in-out;
		-webkit-transition: background 0.15s ease-in-out;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		background: var(--primary);
		cursor: pointer;
		transition: background 0.15s ease-in-out;
	}

	input[type=range]:hover::-webkit-slider-thumb {
		box-shadow: 0 0 0 1px var(--bg2), 0 0 0 4px var(--primary);
	}

	input[type=range]:hover::-moz-range-thumb {
		box-shadow: 0 0 0 1px var(--bg2), 0 0 0 4px var(--primary);
	}

	input[type=checkbox],
	input[type=radio] {
		height: 21px;
		outline: none;
		position: relative;
		-webkit-appearance: none;
		-moz-appearance: none;
		margin: 0;
		padding: 0;
		box-shadow: none;
		cursor: pointer;
		vertical-align: middle;
		top: -1px;
		height: 21px;
		border: 2px solid var(--brd);
		background: var(--bg);
		transition: background 0.3s ease, border-color 0.3s ease;
	}

	input[type=checkbox]:after,
	input[type=radio]:after {
		content: "";
		display: block;
		left: 0;
		top: 0;
		position: absolute;
		transition: transform 0.3s ease, opacity 0.2s ease, filter 0.3s ease;
	}

	input[type=checkbox]:checked,
	input[type=radio]:checked {
		background: var(--primary);
		border-color: var(--primary);
	}

	input[type=checkbox]:checked:after,
	input[type=radio]:checked:after {
		transition: opacity 0.3s ease, filter 0.3s ease, transform 0.6s cubic-bezier(0.175, 0.88, 0.32, 1.2);
	}

	input[type=checkbox]:disabled,
	input[type=radio]:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	input[type=checkbox]:hover:not(:checked):not(:disabled),
	input[type=radio]:hover:not(:checked):not(:disabled) {
		border-color: var(--primary);
	}

	input[type=checkbox]:not(.toggle),
	input[type=radio]:not(.toggle) {
		width: 21px;
	}

	input[type=checkbox]:not(.toggle):after,
	input[type=radio]:not(.toggle):after {
		opacity: 0;
	}

	input[type=checkbox]:not(.toggle):checked:after,
	input[type=radio]:not(.toggle):checked:after {
		opacity: 1;
	}

	input[type=checkbox]:not(.toggle) {
		border-radius: var(--radius);
	}

	input[type=checkbox]:not(.toggle):after {
		width: 5px;
		height: 9px;
		border: 2px solid var(--bg);
		border-top: 0;
		border-left: 0;
		left: 6px;
		top: 2px;
		transform: rotate(20deg);
	}

	input[type=checkbox]:not(.toggle):checked:after {
		transform: rotate(43deg);
	}

	input[type=checkbox].toggle {
		width: 39px;
		border-radius: 10px;
	}

	input[type=checkbox].toggle:after {
		left: 2px;
		top: 1px;
		border-radius: 50%;
		width: 15px;
		height: 15px;
		background: var(--brd);
	}

	input[type=checkbox].toggle:checked:after {
		background: var(--bg);
		transform: translateX(17px);
	}

	input[type=checkbox].toggle:disabled:not(:checked):after {
		opacity: 0.6;
	}

	input[type=radio] {
		border-radius: 50%;
	}

	input[type=radio]:after {
		width: 19px;
		height: 19px;
		top: -1px;
		left: -1px;
		border-radius: 50%;
		background: var(--bg3);
		opacity: 0;
		transform: scale(0.7);
	}

	input[type=radio]:checked:after {
		background: var(--bg);
		transform: scale(0.5);
	}
}
/* ----------------- Utilities ---------------- */
._f-end {
	align-self: flex-end;
}
._f-center {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	align-items: center;
  }
._ta-center{
	text-align: center;
}
._icon {
	display: block;
	height: 1.7rem;
	width: 1.7rem;
	fill: currentColor;
}

._overflowhidden {
	overflow: hidden !important;
  }

  /* ---------------- Go Top Link --------------- */
.gt-link {
	transition: all 0.25s ease-in-out;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1;
	cursor: pointer;
	visibility: visible;
	opacity: 1;
	background: var(--c10);
	color: var(--c11);
  }
  .gt-link.hide {
	visibility: hidden;
	opacity: 0;
  }
/* ------------------- Links ------------------ */
a {
	color: var(--primary);
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	border-bottom: 2px solid currentColor;
}

/* ----------------- Sections ----------------- */
aside{
	height: 100%;
	width: 60px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--bg2);
	transition: width .5s;
	overflow-x: hidden;
	white-space: nowrap;
	display: flex;
	flex-direction: column;
	flex-shrink: 1;
}
aside>ul{
	list-style: none;
    padding: .5rem;
    text-align: center;
}
aside.opened{
	width: 200px;
}
aside.opened~ .modal-main{
	margin-left: 200px;
}
aside span{
	position: relative;
	display: block;
	text-indent: -20em;
	white-space: nowrap;
	transition: text-indent 400ms ease-in-out;
	
}
aside.opened span{
	text-indent: 0;
	padding-left: .4rem;
}
aside.opened a{
	justify-content: flex-start;
}
aside a{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	text-decoration: none;
	padding: 0.6rem;
	font-size: inherit;
	cursor: pointer;
	border-radius: var(--radius);
	height: 2.6rem;
	transition: color 400ms;
	border: 0!important;
	margin-bottom: .3rem;
}
aside a:hover,aside a.active{
	background: var(--bg3);
}


.pages > * {
	display: none;
  }
  .pages > .page-active {
	display: block;
  }