*,
*::before,
*::after
	box-sizing: border-box
*:focus:not(:focus-visible)
	outline: 0
*:focus-visible
	outline: .1rem solid var(--focus)
	outline-offset: .1rem
html
	text-rendering: optimizeLegibility
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif
	font-size: 12pt
body,
html
	margin: 0
	padding: 0
