/* ---------------- Basic reset --------------- */
*,
*::before,
*::after
	box-sizing: border-box
	border-spacing: 0
*:focus:not(:focus-visible)
	outline: 0
*:focus-visible
	outline: .1rem solid var(--focus)
	outline-offset: .1rem
html
	text-rendering: optimizeLegibility
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif
	font-size: 12pt
	background: var(--c4)

html,
body
	overflow-x: hidden
	margin: 0
	padding: 0
body
	-webkit-tap-highlight-color: transparent
	display: flex
	flex-flow: wrap column
	gap: .5rem
	align-items: center
	justify-content: center
	min-height: 100vh
	width: 100vw
	background-repeat: no-repeat
	background-size: cover
	font-size: 13pt
	background-image: var(--bg-img)
	background-color: var(--bg-cl)
	background-attachment: fixed !important
	-webkit-transition: background-image 0.2s ease-in-out
	transition: background-image 0.2s ease-in-out
	overflow-x: hidden
	user-select: none
	line-height: 1.5
	--bg-cw: 0px
	--bg-ch: 0px
	--bg-cl: #fff
	--bg-cd: #060609
	--bg-c: var(--bg-cl)
	--bg-img: var(--bg-img-l)
	--bg-blur: 0px
	--bg-dark: 100%
	--custom-font: -apple-system, system-ui, BlinkMacSystemFont, Roboto, sans-serif
	/****************************** COLORS ******************************/
	/*  Weather Background	   */
	--cl0: #292e39
	--cd0: #4ca3e2
	/*  Text and  Icons color	*/
	--cl1: #ffffff
	--cd1: #ffffff
	/*  City Label Background	*/
	--cl2: #00000094
	--cd2: #00000094
	/*  City Label Text		  */
	--cl3: #dddddd
	--cd3: #dddddd
	/* ------------------ Toolbar ----------------- */
	/*Toolbar Background */
	--cl4: #292e39
	--cd4: #292e39
	/*Toolbar Icon */
	--cl5: #CCC
	--cd5: #CCC
	/* Toolbar Text */
	--cl6: #666
	--cd6: #666
	/* ---------------- Search Bar ---------------- */
	/* Search Bar Background */
	--cl7: #292e39
	--cd7: #292e39
	/* Search Bar Text */
	--cl8: #CCC
	--cd8: #CCC
	/* Search Bar border hover */
	--cl9: #116ad8
	--cd9: #116ad8
	/* ----------------- Bookmarks ---------------- */
	/* Bookmarks Folder background */
	--cl10: #292e39
	--cd10: #292e39
	/* Bookmarks Title Color*/
	--cl11: #CCC
	--cd11: #CCC
	/* Bookmarks Link Background */
	--cl12: #3B4252
	--cd12: #3B4252
	/* Bookmarks Link Text Color*/
	--cl13: #CCC
	--cd13: #CCC
	/* Bookmark link hover background */
	--cl14: #111213
	--cd14: #111213
	/* Bookmark link hover text */
	--cl15: #116ad8
	--cd15: #116ad8
	/* Folder background on grid view  */
	--cl15: #00000094
	--cd15: #00000094

	/* Track Scrollbar  */
	--cl16: #ffffff59
	--cld6: #ffffff59
	/* Handle Scrollbar */
	--cl17: #ffffff9f
	--cd17: #ffffff9f


	/* Text color		*/
	--cl18: #000000
	--cd18: #000000
	/* Border color	 */
	--cl19: #ffffff9f
	--cd19: #ffffff9f
	/* Settings Text */
	--cl20: #14191f
	--cd20: #f2f4f7
	/* Settings Background*/
	--cl21: #f2f4f7
	--cd21: #14191f
	/* Settings Foreground*/
	--cl22: #dde2ea
	--cd22: #152131
	@media (prefers-reduced-motion: no-preference)
		scroll-behavior: smooth


hr
	border: 0
	border-top: 2px solid var(--brd)

img
	max-width: 100%

table
	border-collapse: collapse

textarea
	white-space: revert

hr
	border: 0
	border-top: .1rem solid var(--brd)

._mh-100-5
	min-height: calc(100vh - 15em + 3rem)

.no-js
	display: none

body,
[data-theme=light]
	/* ------------- General Variables ------------ */
	--blue: #{$blue-500}
	--blue-l: #{$blue-400}
	--blue-h: #{$blue-50}
	--blue-d: #{$blue-800}
	--black: #060609
	--white: #f2f4f7
	--green: #2ECC40
	--red: #FF4132
	--orange: #FF851A
	--yellow: #ffcd36
	--primary: #14191f
	--txt: #14191f
	--txt-r: var(--white)
	--bg: #f2f4f7
	--bg2: #dde2ea
	--bg3: #cfd6e1
	--brd: #C4CDD5
	--radius: .5rem
	--radius-b: 1.25rem
	/* -------------- Background NTP -------------- */
	--bg-cw: 0px
	--bg-ch: 0px
	--bg-img: #13181d
	--bg-cl: #13181d
	/* ---------------- Grid Layout --------------- */
	--grid-wrap: wrap
	--grid-width: 33.33%
	/* ------------------ Buttons ----------------- */
	--bg-btn: var(--primary)
	--bg-btn-hover: inset 0 0 100px 100px #ffffff20
	--txt-btn: var(--white)
	--brd-btn: var(--primary)
	/* ------------------- Tabs ------------------- */
	--bg-tabs: var(--bg)
	--brd-tabs-l: var(--primary)
	--brd-tabs: var(--bg2)
	--bg-input: var(--bg2)
	--brd-input: var(--bg2)
	/* ------------------ Details ----------------- */
	--bg-details: var(--bg2)
	--bg-details-open: var(--bg3)
	//Form 
	--input-bg: var(--bg3)
	--input-txt: var(--txt)
	--input-focus: var(--primary-t)
	--input-brd: var(--brd)
	//Buttons 
	/* -------------- Weather Widget -------------- */
	/* Weather visibility */
	--wt: none

	--c0: var(--cl0)
	--c1: var(--cl1)
	--c2: var(--cl2)
	--c3: var(--cl3)
	--c4: var(--cl4)
	--c5: var(--cl5)
	--c6: var(--cl6)
	--c7: var(--cl7)
	--c8: var(--cl8)
	--c9: var(--cl9)
	--c10: var(--cl10)
	--c11: var(--cl11)
	--c12: var(--cl12)
	--c13: var(--cl13)
	--c14: var(--cl14)
	--c15: var(--cl15)
	--c16: var(--cl16)
	--c17: var(--cl17)
	--c18: var(--cl18)
	--c19: var(--cl19)
	--c20: var(--cl20)
	--c21: var(--cl21)
	--c22: var(--cl22)
	--c23: var(--cl23)
	--c24: var(--cl24)

[data-theme=dark]
	--black: #060609
	--white: #f2f4f7
	--blue: #4dacff
	--green: #67e5a8
	--red: #ff564d
	--orange: #ff9f4d
	--yellow: #ffd24d
	--txt: #f2f4f7
	--txt-r: #14191f
	--bg3: #2c3844
	--bg2: #242e37
	--bg: #14191f
	--bg-nav: var(--bg)
	--bg-nav-hover: var(--bg2)
	--bg-btn: var(--primary)
	--bg-btn-hover: inset 0 0 100px 100px #00000033
	--brd-btn: var(--primary)
	--txt-btn: var(--black)
	--bg-card: var(--bg3)
	--bg-details: var(--bg2)
	--bg-details2: var(--bg3)
	--shadow: none
	--c0: var(--cd0)
	--c1: var(--cd1)
	--c2: var(--cd2)
	--c3: var(--cd3)
	--c4: var(--cd4)
	--c5: var(--cd5)
	--c6: var(--cd6)
	--c7: var(--cd7)
	--c8: var(--cd8)
	--c9: var(--cd9)
	--c10: var(--cd10)
	--c11: var(--cd11)
	--c12: var(--cd12)
	--c13: var(--cd13)
	--c14: var(--cd14)
	--c15: var(--cd15)
	--c16: var(--cd16)
	--c17: var(--cd17)
	--c18: var(--cd18)
	--c19: var(--cd19)
	--c20: var(--cd20)
	--c21: var(--cd21)
	--c22: var(--cd22)
	--c23: var(--cd23)
	--c24: var(--cd24)

[data-theme=light] .light-icon,
[data-theme=dark] .dark-icon
	display: block !important

.theme-icon
	display: none !important

body
	font-family: var(--custom-font) !important
	font-size: 13pt
	scroll-behavior: smooth


.mdl_c::-webkit-scrollbar
	margin-left: 10px
	background: transparent

.mdl_c::-webkit-scrollbar-track,
#links::-webkit-scrollbar,
.modal-main>div::-webkit-scrollbar,
.modal-main>div::-webkit-scrollbar-track,
#links::-webkit-scrollbar-track,
.tabs>div::-webkit-scrollbar,
.tabs>div::-webkit-scrollbar-track
	background: transparent

#links::-webkit-scrollbar-thumb
	background: var(--c10) !important

#links::-webkit-scrollbar
	height: 10px

#links::-webkit-scrollbar-thumb
	background: var(--c13)

.mdl_c::-webkit-scrollbar-thumb
	background: var(--c12)

/* -------------- Main container -------------- */

main
	display: flex
	width: 100%
	padding: 4rem 0.5rem 0rem
	overflow-x: hidden
#main
	width: 100%
	max-width: 60rem
	margin: auto

/* ------------------ Details ----------------- */
details
	width: 100%
	overflow-x: hidden
	display: flex
	flex-flow: wrap column
	border-radius: var(--radius)
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	transition: height 0.3s ease-in-out
	background: var(--bg-details)

details>summary 
	outline-color: initial
	padding: 0.6rem
	border-radius: var(--radius)
	outline: 0
	cursor: pointer
	font-weight: 500
	transition: background-color 0.4s ease-in-out

details>summary:hover 
	color: var(--primary)
	background-color: var(--bg-details)

details>div 
	padding: 0.5rem

details[open] summary
	background-color: var(--bg-details-open) !important

details[open]>summary:hover 
	color: var(--primary)
	background-color: var(--bg-details)

details+details 
	margin-top: 0.5rem

#dlg_settings
	.dialog-content
		max-width: 50rem
		height: 90vh
		.modal-main
			width: 100%
			padding: .5rem

		section>div
			width: 100%