<dialog class="modal" id="dlg_changelog" aria-labelledby="dlg_changelog-title">
	<div class="modal-box" tabindex="-1" autofocus>
		<header>
			<h3 id="dlg_changelog-title">#Changelog - b2ntp</h3>
			<form method="dialog"><button class="btn">
				<svg xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
			</button></form>
		</header>
		<section>
			<div class="b2-grid better_r">
				<div>
					<div class="card card-border bg-base-200">
						<div class="card-body">
							<!-- CHANGELOG -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer class="modal-action">
			<form method="dialog"><button class="btn">
				Close
			</button></form>
		</footer>
	</div>
	<form method="dialog" class="modal-backdrop"><button aria-label="Close">close</button></form>
</dialog>
