#settings-panel
	display: flex
	flex-direction: row
	width: 100%
	background: var(--color-base-100)
	color: var(--color-base-content)

	.modal-main
		flex: 1
		overflow: auto
		width: 100%
		padding: .5rem

	section>div
		width: 100%

	h4
		display: flex
		align-items: center
		justify-content: flex-end
		font-size: unset
		gap: 0.5rem
		color: var(--color-base-content)
		font-weight: bold
		margin: auto
		width: 100%
		padding: 0.5rem
		border-radius: var(--radius-box)
		background: var(--color-base-300)

	label
		flex: auto
