
// Settings panel navigation sidebar
#settings-panel aside
	position: sticky
	left: 0
	top: 0
	width: 4rem
	background: var(--c25)
	padding: 3rem 0 .5rem .5rem
	border-radius: var(--radius-b)
	overflow: hidden
	transition: .5s
	&.active
		width: 13.5rem
	ul
		positon: absolute
		top: 0
		left: 0
		width: 100%
		list-style: none
		padding: 0
		margin: 0
		li
			position: relative
			width: 100%

			a:hover
				background: var(--c22)
				color: var(--c21)
				&:before
					content: ''
					position: absolute
					top: -20px
					right: 0
					width: 20px
					height: 20px
					background: transparent
					border-bottom-right-radius: var(--radius-b)
					box-shadow: 7.5px 7.5px 0 7.5px var(--c22)
				&:after
					content: ''
					position: absolute
					bottom: -20px
					right: 0
					width: 20px
					height: 20px
					background: transparent
					border-top-right-radius: var(--radius-b)
					box-shadow: 7.5px -7.5px 0 7.5px var(--c22)

			a.active
				background: var(--c23)
				color: var(--c24)
				&:before
					content: ''
					position: absolute
					top: -20px
					right: 0
					width: 20px
					height: 20px
					background: transparent
					border-bottom-right-radius: var(--radius-b)
					box-shadow: 7.5px 7.5px 0 7.5px var(--c23)
				&:after
					content: ''
					position: absolute
					bottom: -20px
					right: 0
					width: 20px
					height: 20px
					background: transparent
					border-top-right-radius: var(--radius-b)
					box-shadow: 7.5px -7.5px 0 7.5px var(--c23)

		a
			display: flex
			width: 100%
			text-decoration: none
			gap: 1rem
			padding: .4rem
			border-top-left-radius: var(--radius-b)
			border-bottom-left-radius: var(--radius-b)
			color: var(--c21)
			.a-icon
				min-width: 2rem
				height: 2rem
				display: flex
				align-items: center
				justify-content: center
			.a-title
				white-space: nowrap
				display: flex
				align-items: center
// NTP persistent widget sidebar — 1/5 of workspace width, mirrors right sidebar
