/* ------------------ Header ------------------ */
header
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    max-width: 60rem
    margin: auto
    padding: 1rem
    >*
        display: flex
        align-items: center
