<div class="dialog" id="dlg_preview" data-a11y-dialog="dlg_preview" aria-labelledby="dlg_preview-title"
	aria-hidden="true">
	<div class="dialog-overlay" data-a11y-dialog-hide></div>
	<div class="dialog-content">
		<header>
			<h3 id="dlg_preview-title"></h3>
			<button data-a11y-dialog-hide><svg class="w-6 h-6" id="close-icon" fill="none" stroke="currentColor"
					viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
					</path>
				</svg></button>
		</header>
		<section>
			<div class="grid">
				<div class="embla">
					<div class="embla__viewport">
						<div class="embla__container">
							<div class="embla__slide">
								<div class="embla__slide_content">
									<img src="./assets/jpg/CWS_1.jpg" alt="">
								</div>
							</div>
							<div class="embla__slide">
								<div class="embla__slide_content">
									<img src="./assets/jpg/CWS_2.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
		
					<div class="embla__controls">
						<div class="embla__dots"></div>
					</div>
				</div>
				<div id="pt_cnt">
				</div>
			</div>
		</section>
		<footer id="dlg_preview-footer">
			<a class="btn btn-p" id="download-theme"><svg class="_icon" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg> Download</a>
			<button data-a11y-dialog-hide>
				Close
			</button>
		</footer>
	</div>
</div>